.errors {
	color: darkgray;
	text-decoration: italic;
}

.form {
	border-radius: 5px;
	background-color: white;
	padding: 30px;
	display: inline-block;
	width: 35%;
	margin-bottom: 50px;
}
  
@media all and (max-width: 500px) { 
	.form {
		border-radius: 5px;
		background-color: white;
		padding: 30px;
		display: inline-block;
		width: 90%;
		margin-bottom: 20px;
	}
}

@media all and (max-width: 850px) { 
	.form {
		border-radius: 5px;
		background-color: white;
		padding: 30px;
		display: inline-block;
		width: 50%;
		margin-bottom: 20px;
	}
}

.login {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

input[type=password], input[type=email], input[type=text] {
	width: 100%;
	height: 35px;
	border: 1px solid #D0D3D4;
	border-radius: 5px;
	color: rgb(133, 134, 134);
	background-color: #F0F3F4; 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.form-group {
	position: relative
}

.form-group .glyphicon {
	right: 10px;
	position: absolute;
	top:12px
}

.remember-email {
	color:rgb(64, 65, 65);
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13px;
}

.submit {
	background-color: rgb(250, 0, 96);
	border-radius: 5px;
	border: none;
	width: 100%;
	box-shadow: 0 10px 0 0 #6B2A4A;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	font-weight: 700;
}

.submit:hover {
	cursor: pointer;
}